<main class='horizontal-bars'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>OUR SPONSORS</h2>
                <h3>Our sponsors</h3>
            </div>
        </div>
        <div class='event-content' id="sponsors">
          <article>


          <div class ="col-sm-12">
              <h2>Trading Partner</h2>
              <div class="sponsor col-sm-12">
                  <img src="assets/img/logo/sponsors/new/hindustan.gif" style="padding: 0;margin-top: 7px;"/>
              </div>
            </div>
            </article>
            <article>

              <div class="col-sm-6">
                <h2>Event Partner</h2>
              <div class="sponsor col-sm-10 col-sm-offset-1" >
                  <img src="assets/img/logo/sponsors/new/pustak.jpg" />
              </div>
            </div>
            
            <div class ="col-sm-6">
                <h2>style Partner</h2>
                <div class="sponsor col-sm-10 col-sm-offset-1">
                    <img src="assets/img/logo/sponsors/new/Juniper.jpg" />
                </div>
              </div>


              </article>
            <article>
                <div class="col-sm-3">
                    <h2>Ethinic Partner</h2>
                    <div class="sponsor col-sm-offset-2 col-sm-10">
                        <img src="assets/img/logo/sponsors/new/kishori.png" style="padding-top: 3em;" />

                </div>
                </div>

                <div class="col-sm-6" >
                  <h2>Sports Partner</h2>

                  <div class="col-sm-12">
                  <div class="sponsor col-sm-8 col-sm-offset-2" >
                      <img src="assets/img/logo/sponsors/new/logo.png" />
                  </div>
                </div>


                </div>

                <div class="col-sm-3">
                    <h2>Hotel Partner</h2>
                    <div class="sponsor col-sm-offset-1 col-sm-10" style="padding-top:1em;">
                        <img src="assets/img/logo/sponsors/new/royal.gif" />
                    </div>
                </div>

            </article>
            <article>
                <div class="col-sm-3">
                  <h2>Remedy Partner</h2>
                  <div class="sponsor ">
                    <img src="assets/img/logo/sponsors/new/skiniti.png" style="padding-top:4em;"/>
                  </div>
                </div>
                <div class="col-sm-3">
                    <h2>Interior Design Partner</h2>
                    <div class="sponsor col-sm-offset-1 col-sm-10">
                        <img src="assets/img/logo/sponsors/new/om.jpg" style="padding-top:4em;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <h2>Happiness Partner</h2>
                    <div class="sponsor col-sm-offset-1 col-sm-10">
                        <img src="assets/img/logo/sponsors/new/diamond.png" style="padding-top:4em;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <h2>City Perks Partner</h2>
                    <div class="sponsor col-sm-offset-2 col-sm-8">
                        <img src="assets/img/logo/sponsors/new/jaipur.jpg" style="padding-top:4em;"/>
                    </div>
                </div>


            </article>

            <article>
                <div class="col-sm-3">
                  <h2>Feast Partner</h2>
                  <div class="sponsor col-sm-offset-2 col-sm-8">
                    <img src="assets/img/logo/sponsors/new/burger.jpg" />
                  </div>
                </div>
                <div class="col-sm-3">
                    <h2>Radio Partner</h2>
                    <div class="sponsor col-sm-offset-1 col-sm-10">
                        <img src="assets/img/logo/sponsors/new/my.jpg"  />
                    </div>
                </div>
                <div class="col-sm-3">
                    <h2>Refreshing Partner</h2>
                    <div class="sponsor">
                        <img src="assets/img/logo/sponsors/new/tripling.png"  />
                    </div>
                </div>
                <div class="col-sm-3">
                    <h2>Magazine Partner</h2>
                    <div class="sponsor">
                        <img src="assets/img/logo/sponsors/new/shubh.jpg" />
                    </div>
                </div>


            </article>

            <article>
                <h2>Education Partners</h2>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/matrix.jpg" style="padding-top: 3em;"/>
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/rat.png" style="width:60%;padding-top: 2em;" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/appin.jpg" />
                </div>
                <div class="sponsor col-sm-4" style="padding-top: 3em;">
                    <img src="assets/img/logo/sponsors/new/engiaca.png" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/engineer.png" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/yuwam.png" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/made.png" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/gate.png" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/Youstart.png" />
                </div>

            </article>
            <article>
                <h2>Food Partners</h2>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/mutuals.jpg" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/cafe.jpeg" />
                </div>
                <div class="sponsor col-sm-4" style="margin-top:20px;">
                    <img src="assets/img/logo/sponsors/new/g&g.jpg" />
                </div>

                <div class="sponsor col-sm-4" style="margin-top:40px;">
                  <img src="assets/img/logo/sponsors/new/hungeradda.png" />

                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/dvaib.png" />
                </div>
                <div class="sponsor col-sm-4">
                    <img src="assets/img/logo/sponsors/new/tc.jpg" />
                </div>
                <div class="sponsor col-sm-12 ">
                    <img src="assets/img/logo/sponsors/new/hookmeup.jpg" />
                </div>

            </article>
            <article>
            <div class ="col-sm-4 col-sm-offset-2">
                <h2>Feast Partner</h2>
                <div class="sponsor col-sm-6 col-sm-offset-3">
                    <img src="assets/img/logo/sponsors/new/burger.jpg" />
                </div>
              </div>



                <div class="col-sm-4">
                  <h2>Salon Partner</h2>
                <div class="sponsor col-sm-6 col-sm-offset-3" >
                    <img src="assets/img/logo/sponsors/new/Sizzling.jpg" />
                </div>
              </div>

              </article>


        </div>
    </div>
</main>

<div class="navigation">
  <a href="javascript:history.back()">
  <div class="menu-icon" ><div class="menu-bars"></div></div>
</a>
    <div class="clearfix"></div>
</div>
