<main class='horizontal-bars'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>ABOUT</h2>
                <h3>Get to know us</h3>
            </div>
        </div>
        <div class='event-content'>
            <div class="main-tabs">
                <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation" class="active"><a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">JECRC Foundation</a></li>
                    <li role="presentation"><a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Renaissance 17</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab1">
                        <div class="row">
                            <p>JECRC Foundation has been in the forefront of creating excellence in technical education since the last fifteen years and is flamboyantly marching towards colorful dreams to accomplish and new milestones to achieve. The foundation is a pioneer education group with institutions for Engineering , Management and Pure & Applied Sciences and is ascribed as one of the leading education groups of North India. The foundation is nurturing more than nine thousand students enrolled with the following constituent institutes:
                                <ul>
                                    <li>Jaipur Engineering College & Research Centre (JECRC)</li>
                                    <li>JECRC UDML College of Engineering (JECRC UDML)</li>
                                    <li>JECRC University (JU)</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="row">
                            <p>Renaissance is a Techno/Cultural fest which provides a versatile platform for all the students to learn and explore the various dimensions of their personality. Renaissance is an opportunity which provides that special edge and makes every student strong and competent to face the world.</p>
                            <p>With events encompassing varied fields of science, technology and management. Renaissance , the annual techno-cultural fest of JECRC , invites students from all around the globe to put their inventiveness , ingenuity and aptitude to test at an unequaled level of competition. The fest offers its participants a wide spectrum of events to prove their mettle, while the huge amount of prize money is reflective of the magnificence of the same. Be a part of this techno-management extravaganza which is scheduled from 08-12 March 2017, as we once seek to captivate and enlighten you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="navigation">
    <a href="javascript:history.back()">
    <div class="menu-icon" ><div class="menu-bars"></div></div>
  </a>
    <div class="clearfix"></div>
</div>
