<div class="main-tabs zarurat">
        <ul class="nav nav-tabs" role="tablist" >
        <li role="presentation" class="active"><a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">About</a></li>
        <li role="presentation"><a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Events</a></li>
        <li role="presentation"><a data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Contact</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab1">
            <div class="row">
                <div>
                    <p>Zarurat - the help beyond is a social endeavor by the JECRC foundation which focuses on imparting a healthy all round development of the underprivileged children from the nearby slum areas. Keeping up with the spirit of Renaissance, the pre-Renaissance event “Zarurat - celebrating innocence” is celebrated, seeing a footfall of 350 kids from various NGOs and 200 student volunteers.</p>
                    <p>    The team is very fortunate to be blessed and mentored by Nobel Peace Prize Laureate Shree Kailash Satyarthi Sir who has graced the previous year's event with his benign presence.</p>
                    <p>    Continuing the spirit of celebration, Zarurat will be organising this year's event on 7th March 2016. The event is proposed to witness the esteemed presence of Shri Anshu Gupta, founder Goonj Foundation, Shri Lenin Raghuvanshi, founder of People's Vigilance committee on Human Rights  and Ms. Gloria Benny, founder of Make a Difference.</p>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab2">
            <div class="row">
                <ul>
                    <li><b>KALAKRITI</b> : A platform for the children to go beyond their horizons and create a world of their imagination.</li>
                    <li><b>PRASTUTI</b> : A platform for the kids to showcase their talent.</li>
                    <li><b>HUNGAMA </b> : A magic show is organized for the children.</li>
                    <li><b>SANGOSTHI</b> : A social meet, where we are bringing the concerned minds to discuss and expouse the efforts taken in the direction to improve the society.</li>
                    <li><b>DENTAL CHECKUP</b> : Health check-up in association with one of the leading hospitals.</li>
                    <li><b>AWARENESS SESSION</b> : A session organized for parents where they will be made aware of the various educational and health policies started by the government.</li>
                    <li><b>BAL MAHOTSAV</b> : A kids carnival for the fun and entertainment of the kids.</li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab3">
            <div class="row">
                <div>
                    <p>
                        In order to share your views and make a contribution please feel free to contact<br>
                        <b>Vinuj Arora:</b> +91-9414250585 <br/>
                        <b>Damini Malik:</b> +91-9694943151 <br/>
                        <b>Email:</b> zarurat@jecrc.ac.in
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
