<main class='horizontal-bars itinerary'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>ITINERARY</h2>
            </div>
        </div>
        <div class='event-content'>
            <div class="main-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">DAY 1</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">DAY 2</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">DAY 3</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">DAY 4</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab1">
                        <div class="row">
                            <h3>
                                <i>8<sup>th</sup>March 2017</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Embryo</td>
                                            <td>11:00 AM - 04:00 PM</td>
                                            <td>C 501(CSE/IT), Conference Hall (EE), C 401 (ME)</td>
                                        </tr>
                                        <tr>
                                            <td>Dexterity </td>
                                            <td>11:00 AM - 2:00 PM</td>
                                            <td>Badminton Court(CE)</td>
                                        </tr>
                                        <tr>
                                            <td>Gully Cricket</td>
                                            <td>11:30 AM - 4:30 PM</td>
                                            <td>BH2  Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Pillow Fight </td>
                                            <td>11:30 AM - 4:30 PM</td>
                                            <td>Volleyball Court</td>
                                        </tr>
                                        <tr>
                                            <td>LAN Gaming</td>
                                            <td>11:30 AM - 4:30 PM</td>
                                            <td>CP – 21, 22, 23</td>
                                        </tr>
                                        <tr>
                                            <td>Robo Soccer</td>
                                            <td>11:30 AM - 3:30 PM</td>
                                            <td>A - Block Quadrangle</td>
                                        </tr>
                                        <tr>
                                            <td>Rap Zap</td>
                                            <td>12:00 Noon - 3:00 PM</td>
                                            <td>Auditorium A – Block</td>
                                        </tr>
                                        <tr>
                                            <td>Pen it Down</td>
                                            <td>12:30 PM - 03:30 PM</td>
                                            <td>IBM Lab (App. Sci.)</td>
                                        </tr>
					     <tr>
                                            <td>Games of Drones</td>
                                            <td>01:30 PM - 04:30 PM</td>
                                            <td>GH Lawn(ECE)</td>
                                        </tr>
                                        <tr>
                                            <td>CAD Mania (AutoCad)</td>
                                            <td>2:00 PM-4:30 PM</td>
                                            <td>Mech Cad Lab(ME), CP18(CE)
</td>
                                        </tr>
                                        <tr>
                                            <td>Raga Night</td>
                                            <td>4:30 PM – 6:30 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Adaa</td>
                                            <td>6:45 PM – 10:00 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                   

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="row">
                            <h3>
                                <i>9<sup>th</sup>March 2017</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Meditation</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>Spiritual Cell </td>
                                        </tr>
					       <tr>
                                            <td>Line Follower</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>B-301(ECE) </td>
                                        </tr>
                                        <tr>
                                            <td>Paintball</td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>GH Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>LAN Gaming</td>
                                            <td>9:30 AM - 4:00 PM</td>
                                            <td>CP – 21, 22, 23</td>
                                        </tr>
                                        <tr>
                                            <td>Reverse Engineering</td>
                                            <td>9:30 AM - 3:30 PM</td>
                                            <td>CP-5(CSE), B-Block Fountain area(ECE), Badminton Court(ME)
</td>
                                        </tr>
                                        <tr>
                                            <td>Catch The Phrase/Let me Speak</td>
                                            <td>9:30AM -12:00 NOON</td>
                                            <td>C 501 (App Sci), C 401 (IT) 
</td>
                                        </tr>
                                        <tr>
                                            <td>Crazy Innovator</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>PE Lab (B-Block) (EE)</td>
                                        </tr>
                                        <tr>
                                            <td>Zenith</td>
                                            <td>9:30 AM – 12:30 NOON</td>
                                            <td>C block (CE)</td>
                                        </tr>
                                        <tr>
                                            <td>Mighty Throttle</td>
                                            <td>9:30 AM- 3:30 PM</td>
                                            <td>BH2 Lawn(ME)</td>
                                        </tr>
                                        <tr>
                                            <td>Beat the Beats</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>Auditorium A – Block</td>
                                        </tr>
                                        <tr>
                                            <td>Gully Cricket</td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>BH2 Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Face Painting </td>
                                            <td>10:00 AM - 1:00 PM</td>
                                            <td>QUADRANGLE A BLOCK</td>
                                        </tr>
                                     
                                        <tr>
                                            <td>Quiz</td>
                                            <td>12:30 PM - 4:30 PM</td>
                                            <td>CAD Lab (ECE),CAD Lab, CP - 15 (EE), BT-7, BT - 14 (ME),CG - 06 (CE), IBM Lab (App Sci) 
</td>
                                        </tr>
                                        <tr>
                                            <td>Anupras</td>
                                            <td>1:00 PM – 4:00 PM</td>
                                            <td>Auditorium A Block</td>
                                        </tr>
                                        <tr>
                                            <td>Pick a Speako</td>
                                            <td>1:30 PM - 4:30 PM</td>
                                            <td> C - 401 C block</td>
                                        </tr>
                                        <tr>
                                            <td>Rockathon</td>
                                            <td>4:15 PM – 7:15 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>BootStrapping</td>
                                            <td>7:30 PM – 10:00 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                    

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="row">
                            <h3>
                                <i>10<sup>th</sup>March 2017</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Techno InBuzz</td>
                                            <td>9:30 AM - 11:30 AM</td>
                                            <td>B - Block Fountain Area (ECE) </td>
                                        </tr>
					     <tr>
                                            <td>Just C</td>
                                            <td>9:30 AM – 3:30 PM</td>
                                            <td>CP-1 to CP-8 (CSE/IT)</td>
                                        </tr>
                                        <tr>
                                            <td>Subito</td>
                                            <td>9:30 AM – 4:30 PM</td>
                                            <td>IBM Lab (CSE/IT)</td>
                                        </tr>
                                        <tr>
                                            <td>Paintball</td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>GH Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Street Football </td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>BH2 Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>LAN Gaming</td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>CP – 21, 22, 23</td>
                                        </tr>
                                        <tr>
                                            <td>Minute to Win </td>
                                            <td>9:30 AM - 11:30 AM</td>
                                            <td>QUADRANGLE A BLOCK</td>
                                        </tr>
                                        <tr>
                                            <td>Meditation</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>Spiritual Cell (CSE)</td>
                                        </tr>
                                        <tr>
                                            <td>Poster Making</td>
                                            <td>9:30 AM –1:30 PM</td>
                                            <td>MD LABS (CE)</td>
                                        </tr>
                                        <tr>
                                            <td>Drishyam</td>
                                            <td>9:30 AM –1:30 PM</td>
                                            <td>CG & CF Floor, C Block (App. Science)</td>
                                        </tr>
                                        <tr>
                                            <td>Mighty Throttle</td>
                                            <td>9:30 AM – 12:30 PM</td>
                                            <td>BH2 Lawn (ME)</td>
                                        </tr>
                                        <tr>
                                            <td>Robo War</td>
                                            <td>11:00 AM – 4:30 PM</td>
                                            <td>Hawa Mahal</td>
                                        </tr>
                                        <tr>
                                            <td>Campus Roadies</td>
                                            <td>12:00 Noon - 3:30 PM </td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Antakshari </td>
                                            <td>12:00 Noon - 3:00 PM</td>
                                            <td>Quadrangle A Block</td>
                                        </tr>
                                        <tr>
                                            <td>Olympiad R - Mech </td>
                                            <td>12:30 PM - 3:30 PM</td>
                                            <td>BT - 7, BT -14 (ME)</td>
                                        </tr>
                                        <tr>
                                            <td>Hunting Writers</td>
                                            <td>2:00PM - 4:30 PM</td>
                                            <td>C-401 C – Block</td>
                                        </tr>
                                        <tr>
                                            <td>Nukkad Natak</td>
                                            <td>3:30 PM – 6:30 PM</td>
                                            <td>Quadrangle A Block</td>
                                        </tr>
                                        <tr>
                                            <td>Vinyl War</td>
                                            <td>6:45 PM – 9:45 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="row">
                            <h3>
                                <i>11<sup>th</sup>March 2017</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
					      <tr>
                                            <td>Street Football</td>
                                            <td>9:30 AM - 6 :30 PM</td>
                                            <td>BH-2 Lawn</td>
                                        </tr>
					      <tr>
                                            <td>Pillow Fight </td>
                                            <td>9:30 AM - 2 :30 PM</td>
                                            <td>Volleyball Court</td>
                                        </tr>
                                        <tr>
                                            <td>LAN Gaming</td>
                                            <td>9:30 AM - 7 :30 PM</td>
                                            <td>CP-21,22,23</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>Paintball </td>
                                            <td>9:30 AM - 6:30 PM</td>
                                            <td>GH Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Trashion</td>
                                            <td>9:30 AM - 11:30 PM </td>
                                            <td>LT-7</td>
                                        </tr>
                                        <tr>
                                            <td>Propello</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>C - Block VIP Parking (ME)</td>
                                        </tr>
                                        <tr>
                                            <td>Technical Hack</td>
                                            <td>9:30 AM – 1:30 PM</td>
                                            <td>B-Block MAT lab (ECE)</td>
                                        </tr>
                                        <tr>
                                            <td>Automagic </td>
                                            <td>9:30 AM – 12:30 PM</td>
                                            <td>PE LAB (EE)</td>
                                        </tr>
                                        <tr>
                                            <td>New Venture (B Plan)</td>
                                            <td>9:30 AM – 4:30 PM</td>
                                            <td>C 401 (CSE)</td>
                                        </tr>
                                        <tr>
                                            <td>Agent 221</td>
                                            <td>11:30 AM - 2:00 PM</td>
                                            <td>C - 501 </td>
                                        </tr>
                                        <tr>
                                            <td>Online Session (Alumni)</td>
                                            <td>12:00 Noon – 1:00 PM </td>
                                            <td>Conference Hall A Block</td>
                                        </tr>  
										<tr>
                                            <td>Fork Lifter</td>
                                            <td>12:30 PM – 3:30 PM</td>
                                            <td>B Block Fountain Area (ME)</td>
                                        </tr> 
										<tr>
                                            <td>Java Lets</td>
                                            <td>12:30 PM -2:30 PM</td>
                                            <td>IBM Lab (CSE & IT)</td>
                                        </tr>   
										<tr>
                                            <td>Combatant</td>
                                            <td>12:30 PM – 3:30 PM</td>
                                            <td>EE Lab (EE)Comm. lab (ECE)
</td>
                                        </tr>	
                   <tr>
                                              <td>Combatant</td>
                                              <td>3:30 PM – 6:30 PM</td>
                                              <td>EE Lab (EE)Comm</td>
                                        </tr>	
										<tr>
                                            <td>Formula Zero</td>
                                            <td>12:30 PM – 4:00 PM</td>
                                            <td>QUADRANGLE A BLOCK (ECE)
</td>
                                        </tr>	<tr>
                                            <td>Cricket Match (Alumni)</td>
                                            <td>1:00 PM – 3:30 PM</td>
                                            <td>C Block Lawns
</td>
                                        </tr>	<tr>
                                            <td>Panel Discussion (Alumni)</td>
                                            <td>1:30 PM – 3:00 PM)</td>
                                          
                                            <td>Conference Hall A Block
</td>
                                        </tr>
     	<tr>
                                            <td>Mad House</td>
                                            <td>2:00 PM - 4:30 PM</td>
                                          
                                            <td>B-301 & LT – 7
</td>
                                        </tr>
     	<tr>
                                            <td>IV Show</td>
                                            <td>2:30 PM - 4:30 PM</td>
                                          
                                            <td>C - 501 (Mech)</td>
                                        </tr>
     	<tr>
                                            <td>Junkyard Wars</td>
                                            <td>3:30 PM - 6:30 PM</td>
                                          
                                            <td>Volleyball Court (CE)
CG & CF Floor, C - Block (App Science)

</td>
                                        </tr>	
										<tr>
                                            <td>Footloose</td>
                                            <td>5:00 PM – 7:30 PM</td>
                                          
                                            <td>Quadrangle A Block

</td>
                                        </tr>	<tr>
                                            <td>Certificate Distribution</td>
                                            <td>7:30 PM – 8:30 PM</td>
                                          
                                            <td>Quadrangle A Block
</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="navigation">
  <a href="javascript:history.back()">
  <div class="menu-icon" ><div class="menu-bars"></div></div>
</a>
    <div class="clearfix"></div>
</div>
