<main class='horizontal-bars itinerary'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>ITINERARY</h2>
            </div>
        </div>
        <div class='event-content'>
            <div class="main-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">DAY 1</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">DAY 2</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">DAY 3</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">DAY 4</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab1">
                        <div class="row">
                            <h3>
                                <i>18<sup>th</sup>March 2016</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Raga Night Prelims</td>
                                            <td>9:30 AM - 12:00 NOON</td>
                                            <td>LT-8</td>
                                        </tr>
                                        <tr>
                                            <td>Inaugural Function</td>
                                            <td>10:30 AM - 11:30 AM</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Juke Box</td>
                                            <td>11:30 AM onwards</td>
                                            <td>Announcement Desk</td>
                                        </tr>
                                        <tr>
                                            <td>Dexterity</td>
                                            <td>11:30 AM - 2:30 PM</td>
                                            <td>Badminton Court</td>
                                        </tr>
                                        <tr>
                                            <td>Gully Cricket</td>
                                            <td>11:30 AM - 3:30 PM</td>
                                            <td>BH-2 Lawn &amp; C-Block Lawns</td>
                                        </tr>
                                        <tr>
                                            <td>Formula Zero</td>
                                            <td>11:30 AM - 3:30 PM</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Lan Gaming</td>
                                            <td>11:30 AM - 8:30 PM</td>
                                            <td>CP- 14, 15 B-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Algoholic</td>
                                            <td>1:30 PM - 3:30 PM</td>
                                            <td>IBM Lab</td>
                                        </tr>
                                        <tr>
                                            <td>Street Football</td>
                                            <td>11:00 AM - 5:00 PM</td>
                                            <td>C-Block Lawns</td>
                                        </tr>
                                        <tr>
                                            <td>Combatant</td>
                                            <td>12:30 PM - 3:30 PM</td>
                                            <td>Communication Lab, LT-7 B-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Cadd Mania</td>
                                            <td>2:00 PM - 4:00 PM</td>
                                            <td>Cadd Lab (ECE &amp; MECH) B-Block</td>
                                        </tr>
                                        <tr>
                                            <td>The Hunting Writers</td>
                                            <td>2:00 PM - 4:30 PM</td>
                                            <td>C-401</td>
                                        </tr>
                                        <tr>
                                            <td>Rap Zap</td>
                                            <td>1:00 PM - 3:30 PM</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Raga Night (Singing Contest)</td>
                                            <td>4:00 PM - 6:30 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Adaa (The Fashion Show)</td>
                                            <td>6:45 PM - 9:45 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="row">
                            <h3>
                                <i>19<sup>th</sup>March 2016</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Embryo</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>A-Block Conference Hall</td>
                                        </tr>
                                        <tr>
                                            <td>Juke Box</td>
                                            <td>9:30 AM onwards</td>
                                            <td>Announcement Desk</td>
                                        </tr>
                                        <tr>
                                            <td>Aero</td>
                                            <td>9:30 AM - 1:00 PM</td>
                                            <td>C-Block Reception</td>
                                        </tr>
                                        <tr>
                                            <td>Antakshari</td>
                                            <td>9:30 AM - 12:00 NOON</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Street Football</td>
                                            <td>9:30 AM - 3:30 PM</td>
                                            <td>C-Block Lawns</td>
                                        </tr>
                                        <tr>
                                            <td>Shoot Out Zone</td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>GH Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Line Follower</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>B-301</td>
                                        </tr>
                                        <tr>
                                            <td>Beat the Beats</td>
                                            <td>9:30 AM - 11:30 AM</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Gully Cricket</td>
                                            <td>9:30 AM - 3:30 PM</td>
                                            <td>BH-2 Lawn &amp; C-Block Lawns</td>
                                        </tr>
                                        <tr>
                                            <td>Lan Gaming</td>
                                            <td>11:30 AM - 8:30 PM</td>
                                            <td>CP 14, 15 B-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Minute To Win</td>
                                            <td>12:00 NOON - 2:00 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Face Painting</td>
                                            <td>12:00 NOON - 2:30 PM</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Pick a Speako</td>
                                            <td>12:30 PM - 3:00 PM</td>
                                            <td>C-401</td>
                                        </tr>
                                        <tr>
                                            <td>Java Lets</td>
                                            <td>1:00 PM - 3:00 PM</td>
                                            <td>IBM Lab</td>
                                        </tr>
                                        <tr>
                                            <td>Sand It</td>
                                            <td>12:30 PM - 3:00 PM</td>
                                            <td>Badminton Court</td>
                                        </tr>
                                        <tr>
                                            <td>Mad House</td>
                                            <td>1:00 PM - 3:00 PM</td>
                                            <td>B-301 &amp; LT-7</td>
                                        </tr>
                                        <tr>
                                            <td>Expert Speaker- Temsutula Imsong</td>
                                            <td>1:00 PM - 2:30 PM</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Rockathon</td>
                                            <td>3:30 PM - 6:30 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Bootstrapping (Dance Competition)</td>
                                            <td>6:45 PM - 9:45 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="row">
                            <h3>
                                <i>20<sup>th</sup>March 2016</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Subito</td>
                                            <td>9:30 AM - 5:30 PM</td>
                                            <td>C-Block CP 18</td>
                                        </tr>
                                        <tr>
                                            <td>Juke Box</td>
                                            <td>9:30 AM onwards</td>
                                            <td>Announcement Desk</td>
                                        </tr>
                                        <tr>
                                            <td>Zenith</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>Badminton Court</td>
                                        </tr>
                                        <tr>
                                            <td>Shoot Out Zone</td>
                                            <td>9:30 AM - 4:30 PM</td>
                                            <td>GH Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Mighty Throttle</td>
                                            <td>9:30 AM - 3:30 AM</td>
                                            <td>C-Block Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Pillow Fight</td>
                                            <td>10:00 AM - 3:30 PM</td>
                                            <td>BH-2 Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Robo War</td>
                                            <td>10:00 AM - 2:00 PM</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Treasure Hunt-Alumni</td>
                                            <td>10:00 AM - 11:30 AM</td>
                                            <td>EDC Conference Room</td>
                                        </tr>
                                        <tr>
                                            <td>Expert Performance by IGI of Performing Arts</td>
                                            <td>10:30 AM - 12:00 NOON</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Techno Crosswinds</td>
                                            <td>10:30 AM - 12:30 PM</td>
                                            <td>B-Block LT 7, LT 8</td>
                                        </tr>
                                        <tr>
                                            <td>Campus Roadies</td>
                                            <td>10:30 AM - 2:30 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>LAN Gaming</td>
                                            <td>11:30 AM - 8:30 PM</td>
                                            <td>CP-14, 15 B-Block</td>
                                        </tr>
                                        <tr>
                                            <td>New Venture</td>
                                            <td>12:00 NOON - 4:00 PM</td>
                                            <td>C - 401</td>
                                        </tr>
                                        <tr>
                                            <td>Panel Discussion Alumni - Part I</td>
                                            <td>12:00 NOON - 1:00 PM</td>
                                            <td>Conference Hall A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Fork Lifter</td>
                                            <td>1:00 PM - 4:00 PM</td>
                                            <td>Badminton Court</td>
                                        </tr>
                                        <tr>
                                            <td>Brain Wiz</td>
                                            <td>1:00 PM - 3:00 PM</td>
                                            <td>B-301 &amp; ER</td>
                                        </tr>
                                        <tr>
                                            <td>Trashion</td>
                                            <td>1:00 PM - 3:00 PM</td>
                                            <td>LT-7</td>
                                        </tr>
                                        <tr>
                                            <td>Spell Bee</td>
                                            <td>1:30 PM - 3:30 PM</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Panel Discussion Alumni - Part II</td>
                                            <td>2:00 PM - 3:00 PM</td>
                                            <td>Conference Hall A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Step Up</td>
                                            <td>4:00 PM - 7:00 PM</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Atulya Bharat</td>
                                            <td>7:15 PM - 9:45 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="row">
                            <h3>
                                <i>21<sup>st</sup>March 2016</i>
                            </h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>EVENTS</th>
                                            <th>TIME</th>
                                            <th>VENUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Reverse Engineering</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>B-301 &amp; ER</td>
                                        </tr>
                                        <tr>
                                            <td>Just C</td>
                                            <td>9:30 AM - 11:30 AM</td>
                                            <td>IBM Lab</td>
                                        </tr>
                                        <tr>
                                            <td>JunkYard Wars</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>Badminton Court</td>
                                        </tr>
                                        <tr>
                                            <td>Pillow Fight</td>
                                            <td>10:00 AM - 3:30 PM</td>
                                            <td>BH-2 Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Mighty Throttle</td>
                                            <td>10:30 AM - 4:30 AM</td>
                                            <td>C-Block Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Propello</td>
                                            <td>1:00 PM - 4:00 PM</td>
                                            <td>LH-4 (A-Block) &amp; Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Lan Gaming</td>
                                            <td>11:30 AM - 8:30 PM</td>
                                            <td>CP- 14, 15 B-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Agent 221</td>
                                            <td>2:00 PM - 4:30 PM</td>
                                            <td>C-501 C-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Nukkad Natak</td>
                                            <td>9:30 AM - 12:30 PM</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Renaissance Got Talent</td>
                                            <td>12:30 PM - 3:00 PM</td>
                                            <td>Quadrangle A-Block</td>
                                        </tr>
                                        <tr>
                                            <td>Kavi Sammelan</td>
                                            <td>3:00 PM - 6:00 PM</td>
                                            <td>Auditorium</td>
                                        </tr>
                                        <tr>
                                            <td>Certificate Distribution</td>
                                            <td>6:30 PM - 7:30 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                        <tr>
                                            <td>Pronite with DJ Anish Sood</td>
                                            <td>7:30 PM - 10:00 PM</td>
                                            <td>Central Lawn</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="navigation">
    <div class="menu-icon" class="animate-1" ui-sref="events">
        <div class="menu-bars"></div>
    </div>
    <div class="clearfix"></div>
</div>
