<div class="main-tabs">
    <div class="tab-content">
        <p>
            WALK THROUGH PARADISE is a boulevard showcasing incredible india at one place offering
            the amazing cultural diversity. The canvas of India is vast and has hues and vibrancy
            of all sorts.
            This event is a road trip through Indian States depicting their colourful culture
            and beauty.We will start the road trip from Rajasthan, moving towards south followed
            by eastern and finally northern states.The event includes the cultural performances by
            professional artists and an opportunity for college students to showcase their talent.
            So pull up your socks and get ready for experiencing the Indian essence.
        </p>
    </div>
</div>
