<div class="login-modal" onclick="clickOutsideLogin(event)">
    <div class="close-btn" ng-click="" >&#10005;</div>
    <div class="login-content">
        <div class="login-loader">
            <div class="loader r"></div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-target="#login" aria-controls="login" role="tab" data-toggle="tab">Log In</a>
            </li>
            <li role="presentation"><a data-target="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="login">
                <form id="loginform" class="form-horizontal" role="form">
                    <br><br><br><br>
                    <div class="login-msg"></div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <button onclick="submitLogIn()" name="login-submit" id="btn-login" type="submit" class="btn btn-info">Log In</button>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="signup">
                <form id="signupform" class="form-horizontal" role="form">
                    <div class="signup-msg"></div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="college">College</label>
                        <input type="text" class="form-control" name="college" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input type="text" class="form-control" name="contact" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <button onclick="submitSignUp()" name="signup-submit" id="btn-signup" type="submit" class="btn btn-info">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
