<main class='horizontal-bars'>
    <div class='bar col-md-2 col-xs-6' ui-sref="about">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/explore/about-us.png" />
            <div>
                <h2>About</h2>
                <h3>Know more</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ui-sref="events">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/explore/events.png" />
            <div>
                <h2>Events</h2>
                <h3>Participate</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ui-sref="team">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/explore/team.png" />
            <div>
                <h2>Team</h2>
                <h3>Team Renaissance</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ui-sref="gallery">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/explore/gallery.png" />
            <div>
                <h2>Gallery</h2>
                <h3>View Glimpses</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ui-sref="sponsors">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/explore/sponsor.png" />
            <div>
                <h2>Sponsors</h2>
                <h3>Our Sponsors</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ui-sref="support">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/explore/support.png" />
            <div>
                <h2>Support</h2>
                <h3>Help</h3>
            </div>
        </div>
    </div>
</main>
