<main class='horizontal-bars'>
    <div class='bar col-md-2 col-xs-6' ng-class="getBarClass(1)" ng-click="openCategory(1,'splash')">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/splash.png" />
            <div>
                <h2>SPLASH</h2>
                <h3>Fun 'n' Frolic</h3>
            </div>
        </div>
        <div class='event-content' ng-if="currentCategory==1">
            <div ui-view></div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-class="getBarClass(2)" ng-click="openCategory(2,'endeavour')">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/endeavour.png" />
            <div>
                <h2>ENDEAVOUR</h2>
                <h3>Cultural Events</h3>
            </div>
        </div>
        <div class='event-content' ng-if="currentCategory==2">
            <div ui-view></div>
        </div>

    </div>
    <div class='bar col-md-2 col-xs-6' ng-class="getBarClass(3)" ng-click="openCategory(3,'quanta')">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/quanta.png" />
            <div>
                <h2>QUANTA</h2>
                <h3>Technical Events</h3>
            </div>
        </div>
        <div class='event-content' ng-if="currentCategory==3">
            <div ui-view></div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-class="getBarClass(4)" ng-click="openCategory(4,'walk-through-paradise')">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/tas.png" />
            <div>
                <h2>WTP</h2>
                <h3>Walk Through Paradise</h3>
            </div>
        </div>
        <div class='event-content' ng-if="currentCategory==4">
            <div ui-view></div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-class="getBarClass(5)" ng-click="openCategory(5,'zarurat')">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/zarurat.png" />
            <div>
                <h2>ZARURAT</h2>
                <h3>Celebrating Innocence</h3>
            </div>
        </div>
        <div class='event-content' ng-if="currentCategory==5">
            <div ui-view></div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-class="getBarClass(6)" ng-click="openCategory(6,'alumni')">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/alumni.png" />
            <div>
                <h2>ALUMNI</h2>
                <h3>Alumni Meet</h3>
            </div>
        </div>
        <div class='event-content' ng-if="currentCategory==6">
            <div ui-view></div>
        </div>
    </div>
</main>

<div ng-include="'assets/partials/partial-menu.html'"></div>
